.App {
  text-align: center;
  background-color: black;
  color: white;
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}

.nav{
  display: flex;
  justify-content: space-around;
  width: 100vw;
  justify-content: space-between;
}
.nav a{
  text-decoration: none;
  color: white;
  margin: 0 25px;
  height: 2.5vh;
}
.dashboard-container {
  width: 100vw;
  min-height: 70vh;
  text-shadow: 1px 1px darkgrey;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.footer {
  width: 100vw;
}