.App {
  text-align: center;
  background-color: black;
  color: white;
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}

.header{
  position: fixed;
  margin: 0 auto;
  background-color: black;
  top: 0;
  left: 0;
  height: fit-content;
  z-index: 1;
}

.nav{
  display: flex;
  justify-content: space-around;
  width: 100vw;
  justify-content: space-between;
}
.nav a{
  text-decoration: none;
  color: white;
  margin: 0 25px;
  height: 65px;
}
.nav .favs {
  position: absolute;
  left: 10%;
}
.dashboard-container {
  width: 100vw;
  min-height: 70vh;
  text-shadow: 1px 1px darkgrey;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.movie-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 200px;
  height: 350px;
  margin:  15px 15px 0 15px;
}
.movie-container > img {
  height: 300px;
  width: 200px;
  margin: 0 0 -10px 0;
}
.movie-container > h5 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 190px;
  height: 50px;
}
.footer {
  width: 100vw;
}
/* form {
  display: flex;
  flex-wrap: wrap;
} */

/* posters container  */
.posters-container {
  position: relative;
  transition: transform .2s;
}
.posters-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.movie-container:hover .overlay {
  opacity: 1;
}

.overlay {
	position: relative;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 5px;
	font-size: 15px;
	padding: 0;
	text-align: center;
}